<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
{{member.id}} <br>
{{member.name}}<br>
{{member.age}} <br>
{{member.addr}} <br>
{{member.mobile}} <br>
</body>
</html>