<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>회원가입</h1>
<form method="post"action="/member/new">
    아이디 : <input type="text" name="id"><br>
    비밀번호 : <input type="password" name="pwd"><br>
    이름 : <input type="text" name="name"><br>
    나이 : <input type="number" name="age"> <br>
    지역 : <input type="text" name="addr"> <br>
    연락처: <input type="text" name="mobile"> <br>
    <button>등록하기</button>
</form>
</body>
</html>