<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

</head>
<body>
{{>layout/top}}
<div class="container mt-5">
<h1>로그인</h1>
<form method="post" action="/member/auth">
    {{#link}}
        <input type="hidden" name="link" value="{{link}}">
    {{/link}}
    아이디 : <input type="text" name="id"><br>
    비밀번호 : <input type="password" name="pwd"><br>
    <button>로그인</button>
</form>
</div>
</body>
</html>