<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
{{>layout/top}}
<h1>회원정보</h1>
<a href="/board/myposts" class="nav-link">내 게시글 조회</a>
ID : {{mem.id}} <br>
이름 : {{mem.name}} <br>
나이 : {{mem.age}} <br>
주소 : {{mem.addr}} <br>
연락처 : {{mem.mobile}}
</body>
</html>