<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
{{mem.id}} <br>
{{mem.name}} <br>
{{mem.age}} <br>
{{mem.addr}} <br>
{{mem.mobile}}
</body>
</html>