<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function add_ok(){

            var obj = {"title":$("#title").val(), "content":$("#content").val()};
            $.ajax({
                url:"/api/boards",
                type:"POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj),
                dataType:"json",
                success:function(data){
                    alert(data.title + data.content);
                    //location.href = "/board";

                },error:function(xhr){

                       alert(xhr.status);
                        const error = JSON.parse(xhr.responseText);
                        alert(error.message);
                }

            });
        }
    </script>



</head>
<body>
<h1>글 등록</h1>
<form method="post"action="/board/create">
    제목: <input type="text" name="title" id="title"><br>
    내용: <textarea name="content"  id="content"></textarea> <br>
    <button>글 등록하기</button> <input type="button" value="Ajax로 글 등록하기" onclick="add_ok();">

</form>
</body>
</html>